main>.section>div.sponsors-wrapper {
  max-width: 100%;
  height: 100vh;
  background-color: var(--color-dark);

  &>div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .sponsor-container {
    padding: 100px 77px;
    text-align: center;
    height: 100%;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .sponsor-title {
      margin-top: 0;
      margin-bottom: 48px;
      text-align: left;
    }

    .sponsor-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 56px;
      height: 100%;
      flex: 1;
      overflow: auto;

      .sponsor-logo {
        width: auto;
        height: 85px;
        margin: 0 auto auto auto;

        &.start {
          margin: 0 auto 0 0;
        }

        &.end {
          margin: 0 0 0 auto;
        }

        img {
          height: 85px;
          cursor: pointer;
        }
      }
    }
  }
}