main > .section > div.photo-gallery-wrapper {
  max-width: unset;
}

#photo-gallery-container {
  display: grid;
  gap: 0;
}

#photo-gallery-container.space-between-items {
  gap: 16px;
}

.photo-gallery-item {
  position: relative;
  overflow: hidden;
}

.photo-gallery-item img {
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: absolute;
  color: #FFF;
  padding: 8px;
}

.overlay-text-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-text-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-text {
  text-align: center;
}
