main > .section > div.spacer-wrapper {
  max-width: unset;
}
main > .section > div.spacer-wrapper .spacer-small {
  height: 32px;
}
main > .section > div.spacer-wrapper .spacer-medium {
  height: 64px;
}
main > .section > div.spacer-wrapper .spacer-large {
  height: 96px;
}
