main>.section>div.timeline-wrapper {
  max-width: 100%;
  height: 100vh;

  &.double-content {
    height: 100vh;

    &>div {
      .initial-container {
        transition: opacity 0.2s ease;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .timeline-section {
        transition: opacity 0.2s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &>div {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .timeline-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    .text-section {
      text-align: center;
      margin: 0 auto 20px;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .carousel-section {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      margin-top: auto;
      display: flex;
      min-height: fit-content;

      .image-list {
        display: inline-flex;
        gap: 8px;
        transition: transform 0.5s ease;

        .image-container {
          display: flex;
          flex-direction: column;
          gap: 8px;

          picture {
            width: 144px;
            height: 186px;
            display: block;
            margin-top: auto;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              height: 100%;
              width: 100%;
              background-color: var(--color-primary-blue);
              opacity: 0.6;
            }

            &.selected {
              width: 215px;
              height: 234px;

              &::after {
                content: none;
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .tag-name {
            font-size: 19.65px;
            line-height: 100%;
            letter-spacing: 0;
            text-transform: uppercase;
            font-weight: 400;
            display: none;
          }

          &:hover {
            picture::after {
              content: none;
            }

            .tag-name {
              display: block;
            }
          }
        }
      }
    }

    .timeline-content-item {
      padding: 40px;
      display: flex;
      justify-content: space-between;

      &__title {
        margin-bottom: 0;
        padding-bottom: 36px;
      }

      &__subtitle {
        padding-bottom: 40px;
      }

      a {
        display: flex;
        width: fit-content;
      }

      &>div:first-child {
        max-width: 50%;
      }
    }

    .carousel-indicators {
      display: flex;
      justify-content: space-between;
      padding: 16px 98px;

      div {
        height: 24px;
        width: 24px;
        padding: 20px;
        cursor: pointer;

        span {
          display: block;
          height: 24px;
          width: 24px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          &.indicator-left {
            background-image: url('../../icons/right_arrow.svg');
            transform: rotate(-180deg);
          }

          &.indicator-right {
            background-image: url('../../icons/right_arrow.svg');
          }
        }
      }
    }
  }

  .initial-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;

    .text-section {
      text-align: center;
      margin-bottom: 20px;
      z-index: 1;
    }

    picture {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: var(--color-primary-blue);
        opacity: 0.6;
      }
    }
  }
}