main>.section>div.banner-wrapper {
  max-width: unset;
}

.banner-block {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light);
  overflow: hidden;
  max-width: -webkit-fill-available;
  background-color: var(--background-color-dark);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, var(--banner-overlay-opacity, 0));
  }
}

.banner-small {
  padding: 32px;
}

.banner-medium {
  padding: 64px;
}

.banner-large {
  height: 90vh;
}

.banner-gallery {
  height: 90vh;
}

.banner-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 32px;
}

.banner-subtitle-with-quotes {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 400;
  position: relative;

  &::before,
  &::after {
    content: '"';
    font-size: 50px;
    color: #A4B9CE; // Change color for the quotes
    position: absolute;
  }

  &::before {
    left: -20px;
    top: -20px;
  }

  &::after {
    right: -20px;
    top: 0;
  }
}

.banner-ver-align-top {
  justify-content: flex-start;
}

.banner-ver-align-center {
  justify-content: center;
}

.banner-ver-align-bottom {
  justify-content: flex-end;
}

.banner-hor-align-left {
  align-items: flex-start;
}

.banner-hor-align-center {
  align-items: center;
}

.banner-hor-align-right {
  align-items: flex-end;
}

.gallery-container {
  display: flex;
  position: absolute;

  .gallery-item {
    flex: 1;
    padding: 20px;
    text-align: center;
    gap: 24px;
    display: flex;
    flex-direction: column;

    picture {
      height: 500px;
      display: flex;
    }
  }
}