main>.section>div.banner-wrapper {
  max-width: 100%;
  height: 100vh;

  &.not-fullscreen {
    height: fit-content;

    .banner-content {
      width: 100%;
    }
  }

  &>div {
    height: 100%;
  }


  .banner-block {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: -webkit-fill-available;
    height: 100%;

    &.banner-with-gallery {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &.banner-with-gallery-fullscreen {
      .gallery-container {
        position: absolute;
        height: 100%;
        width: 100%;

        .photo-gallery-item {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(var(--color-primary-blue-500-bkg-rgb), 0.6);
          }
        }
      }
    }

    &.splitted-in-2-rows {
      display: flex;
      flex-direction: column;

      .text-section-splitted {
        height: fit-content;
      }

      .image-section-splitted {
        height: 100%;
        width: 100vw;
        overflow: hidden;

        // Animation
        opacity: 0;
        transition: opacity 0.6s ease;

        &.visible {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .with-overlay-opacity {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, var(--banner-overlay-opacity, 0));
      }
    }

    .banner-content {
      z-index: 1;
      display: flex;
      flex-direction: column;

      padding: 50px;
      width: 50%;
      margin: auto;

      &.banner-ver-align-top {
        justify-content: flex-start;
      }

      &.banner-ver-align-center {
        justify-content: center;
      }

      &.banner-ver-align-bottom {
        justify-content: flex-end;
      }

      &.banner-hor-align-left {
        align-items: flex-start;
      }

      &.banner-hor-align-center {
        align-items: center;
        text-align: center;
      }

      &.banner-hor-align-right {
        align-items: flex-end;
      }

      .button {
        margin-top: 48px;
      }

      .subtitles-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 100%;
        gap: 10px;

        .subtitle-item {
          display: block;
          margin: auto;
          padding: 10px;

          &:first-child {
            grid-column: 1;
            grid-row: 1;
          }

          &:last-child {
            grid-column: 2;
            grid-row: 2;
          }
        }
      }

      .banner-subtitle-with-quotes {
        font-size: 1.25rem;
        margin: 0;
        font-weight: 400;
        position: relative;

        &::before,
        &::after {
          content: '"';
          font-size: 50px;
          color: #A4B9CE; // Change color for the quotes
          position: absolute;
        }

        &::before {
          left: -20px;
          top: -20px;
        }

        &::after {
          right: -20px;
          top: 0;
        }
      }

      .vertical-text {
        position: absolute;
        bottom: 24px;
        left: 50px;
        transform: rotate(-90deg);
        transform-origin: left bottom;
        font-size: 16.8px;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
      }
    }

    .gallery-container {
      display: flex;

      .photo-gallery-item {
        position: relative;
        overflow: hidden;
        flex: 1;

        font-size: 15.6px;
        font-weight: 400;
        line-height: 21.6px;
        letter-spacing: 1.2px;

        &.small-shadow {
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.2);
          }
        }

        &.medium-shadow {
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.4);
          }
        }

        &.with-hover {
          &:hover {
            picture {
              img {
                transform: scale(1.2);
              }
            }
          }
        }

        &.with-hover-text {
          picture {
            filter: blur(7.20px);
          }

          &:hover {
            .overlay-text {
              z-index: 0;
            }

            .hover-text {
              opacity: 1;
            }
          }

          .hover-text {
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 1 !important;
          }
        }

        img {
          width: 100%;
          height: 100%;
          transition: filter 0.3s ease, transform 0.3s ease;
          object-fit: cover;
        }

        .overlay-text {
          position: absolute;
          padding: 8px;
          width: 100%;
          text-align: center;
          z-index: 1;

          &.overlay-text-center {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &.overlay-text-bottom {
            bottom: 24px;
            left: 50%;
            transform: translate(-50%, -50%);

            font-weight: 400;
            font-size: 15.6px;
            line-height: 21.6px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
          }

          .button {
            font-size: 15.6px;
            font-weight: 400;
            line-height: 21.6px;
            letter-spacing: 1.2px;
            border: 1px solid #FFF;
            padding: 12px 16px;
            margin-top: 36px;
          }
        }
      }

      // Animations
      &.animation-from-bottom {
        .photo-gallery-item {
          transform: translateY(100%);
          opacity: 0;
          transition: transform 1s ease, opacity 1s ease;

          &.visible {
            transform: translateY(0);
            opacity: 1;
          }
        }

        &.gallery-fast-animation {
          .photo-gallery-item {
            transition: transform 0.3s ease, opacity 0s ease;
          }
        }
      }

      &.animation-fade-in {
        .photo-gallery-item {
          opacity: 0;
          transition: opacity 0.2s ease;

          &.visible {
            opacity: 1;
          }
        }
      }
    }

    .video-container {
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;

      video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 1;
        transform: translate(-50%, -50%);
      }

      .button-play-pause {
        position: absolute;
        bottom: 20px;
        left: 80px;
        z-index: 2;
        padding: 10px;
        border: none;
        cursor: pointer;

        &::after {
          content: '';
          display: inline-block;
          width: 19px;
          height: 19px;
          background-image: url('../../icons/stop.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: middle;
        }

        &.paused {
          &::after {
            background-image: url('../../icons/play.svg');
          }
        }
      }
    }
  }

  .banner-background-gallery {
    height: 100%
  }
}