main>.section>div.teaser-wrapper {
  max-width: unset;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px;
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  position: relative;

  .left-section {
    max-width: 50%;
    padding-top: 24px;
    padding-left: 12px;

    .teaser-eyebrow {
      font-size: 17px;
      line-height: 53px;
      font-weight: 300;
      letter-spacing: 0;
      text-transform: uppercase;
      margin: 0 0 16px 0;
    }

    .vertical-text {
      position: absolute;
      bottom: 24px;
      left: 50px;
      transform: rotate(-90deg);
      transform-origin: left bottom;
      font-size: 16.8px;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
    }
  }

  .right-section {
    max-width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }
}