main>.section>div.links-wrapper {
  max-width: 100%;
  height: fit-content;


  .links-container {
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 24px;

    .link-item {
      border-left: 2px solid #FFF;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      gap: 35.8px;

      p {
        padding: 0;
        text-transform: uppercase;
      }

      a {
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 36px;
        width: fit-content;

        &::after {
          content: '';
          display: inline-block;
          width: 19px;
          height: 19px;
          margin-left: 8px;
          background-image: url('../../icons/right_arrow.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: middle;
        }
      }
    }
  }
}