body.modal-open {
  overflow: hidden;
}

.modal {
  dialog {
    &::backdrop {
      background-color: rgba(0, 0, 0, 0.7)
    }

    overscroll-behavior: none;
    overflow-y: hidden;
    width: calc(100vw - 64px);
    max-height: calc(100dvh - (2 * var(--header-height)));
    padding: 0;
    border: none;

    .section {
      padding: 0;
    }

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 22px 30px;
      border: none;
      border-radius: 0;
      background-color: transparent;
      color: #FFF;
      line-height: 0;
      outline: none;

      .icon.icon-close {
        content: '';
        width: 24px;
        height: 24px;

        &::before,
        &::after {
          content: '';
          box-sizing: border-box;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 24px;
          height: 2px;
          border-radius: 2px;
          background-color: currentcolor;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    .modal-content {
      box-sizing: border-box;
      overflow-y: auto;
      overscroll-behavior: none;
      width: 100%;
      padding: 24px;
      padding-top: 0;
      background-color: var(--background-color-dark);
      color: var(--text-color-light);
    }

    &.with-images {
      .text-section {
        max-width: 40%;
      }

      .modal-content {
        padding-right: 79px;
      }
    }

    &.modal-timeline {
      .modal-content {
        .modal-timeline-text-section-title {
          padding-bottom: 40px;
        }

        .carousel {
          picture {
            width: 100%;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    &.modal-sponsors {
      .modal-content {
        a {
          margin-top: 48px;
        }

        .carousel {
          picture {
            width: 100%;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@media (width >=900px) {
  .modal {
    dialog {
      width: calc(100vw - 128px);

      &.without-images {
        width: 40%;
      }

      .modal-content {
        padding: 87px 47px 61px 59px;
        display: flex;
        gap: 64px;
      }
    }
  }
}