footer {
  background-color: var(--color-primary-antracite);
}
footer .footer .footer-content {
  margin: auto;
  padding: 40px 24px 24px;
  display: flex;
  justify-content: space-between;
}
footer .footer .footer-content > :first-child {
  display: flex;
  align-items: center;
}
footer .footer .footer-content > :nth-child(2) {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
@media (width >= 900px) {
  footer .footer .footer-content > :nth-child(2) > :first-child > div > div {
    gap: 42px;
  }
}
footer .footer .footer-content > :nth-child(2) > :first-child > div > div > div {
  position: relative;
}
footer .footer .footer-content > :nth-child(2) > :first-child > div > div > div::after {
  content: "|";
  position: absolute;
  right: -23px;
  top: 50%;
  transform: translateY(-50%);
}
footer .footer .footer-content > :nth-child(2) > :first-child > div > div > div:last-child::after {
  content: "";
}
footer .footer .footer-content > :nth-child(2) > :nth-child(2) {
  margin-top: 38px;
  margin-bottom: 10px;
}
footer .footer .footer-content > :nth-child(2) > :nth-child(2) .button-container > a {
  font-weight: 400;
  font-size: 16.8px;
  text-decoration: none;
  text-transform: none;
}
footer .footer .footer-content > :nth-child(2) > :nth-child(2) > div > div > div {
  position: relative;
}
footer .footer .footer-content > :nth-child(2) > :nth-child(2) > div > div > div::after {
  content: "|";
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
}
footer .footer .footer-content > :nth-child(2) > :nth-child(2) > div > div > div:last-child::after {
  content: "";
}
footer .footer .footer-content > :nth-child(2) .default-content-wrapper {
  font-weight: 400;
  font-size: 16.8px;
}
footer .footer .footer-content .button-container > a {
  background-color: transparent;
  border: none;
  color: var(--color-primary-white);
  font-family: Graphik;
  font-weight: 600;
  font-size: 19.2px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
@media (width >= 900px) {
  footer .footer .footer-content {
    padding: 80px 70px 80px 44px;
  }
}
footer .footer p {
  margin: 0;
}
