main>.section>div.podcast-wrapper {
  max-width: 100%;
  height: 100vh;
  width: 100%;
  margin: 0;

  &>div {
    height: 100%;
  }

  .main-container {
    display: flex;
    gap: 36px;
    padding: 100px 0 100px 70px;

    .podcast-text-section {
      width: 25%;
      max-width: 25%;

      .podcast-icons {
        display: flex;
        gap: 28px;
        margin-top: 28px;
      }
    }

    .podcast-carousel-section {
      width: 75%;
      max-width: 75%;
      display: flex;
      gap: 36px;
      overflow-x: auto;
      scrollbar-width: none;

      .podcast-carousel-item {
        min-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 100%;

        &>:first-child {
          height: 400px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 16px;
          position: relative;

          &.is-playing {
            .button-play-pause {
              &::after {
                background-image: url('../../icons/podcast-stop.svg');
              }
            }

            .remaining-time,
            .progress-container {
              display: block;
            }
          }

          &.with-background-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }

          p {
            margin: 0;
          }

          audio {
            display: none;
          }

          .button-play-pause {
            width: fit-content;
            margin: 0 auto;

            &::after {
              content: '';
              display: inline-block;
              width: 53px;
              height: 53px;
              background-image: url('../../icons/podcast-play.svg');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              vertical-align: middle;
            }
          }

          .remaining-time {
            font-size: 12px;
            line-height: 21.6px;
            font-weight: 400;
            letter-spacing: 0;
            position: absolute;
            bottom: 7px;
            right: 7px;

            display: none;
          }

          .progress-container {
            width: 100%;
            background-color: var(--color-primary-antracite);
            height: 6px;
            position: absolute;
            bottom: 0;

            display: none;

            .progress-bar {
              height: 100%;
              width: 0;
              background-color: var(--color-grey-5);
            }
          }
        }

        &>:nth-child(2) {
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}