@import url('./imageCarousel.css');
@import url('./typography.css');

:root {
  /* colors */
  --background-color-dark: #0B1822;
  --text-color-light: #F2F2F2;
  --color-dark: #151517;

  --color-primary-blue: #152F44;
  --color-primary-blue-rgb: 21, 47, 68;
  --color-primary-light-blue: #34526E;
  --color-primary-antracite: #2D2D2D;
  --color-primary-white: #FFF;
  --color-primary-blue-500-bkg: #0B1822;
  --color-primary-blue-500-bkg-rgb: 11, 24, 34;
  --color-primary-antracite-500-bkg: #171717;
  --color-primary-antracite-500-bkg-rgb: 23, 23, 23;

  --color-secondary-light-blue: #41668933;
  --color-secondary-light-blue-2: #A4B9CE;
  --color-secondary-background-blue: #E8EDF3;
  --color-secondary-gallery-orange: #F06123;
  --color-secondary-pastel-orange: #FDA46F;

  --color-grey-1: #3E3E3E;
  --color-grey-2: #707070;
  --color-grey-3: #A4A4A4;
  --color-grey-4: #C6C6C6;
  --color-grey-5: #DCDCDC;
  --color-grey-6: #EFEFEF;

  --link-color: var(--text-color-light);
  --link-hover-color: var(--text-color-light);

  /* font-family */
  --body-font-family: 'Graphik', sans-serif;
  --heading-font-family: 'Graphik', sans-serif;
}

body {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
}

main>.section {
  margin: 0;
}

.d-none {
  display: none !important;
}

a.button.cta-light {
  text-transform: uppercase;
  padding: 21px 36px;
  border: none;
  border-radius: 5px;
  margin: 0;

  &.button-animation {
    opacity: 0;
    transition: opacity 1s ease;

    &.visible {
      opacity: 1;
    }
  }

  &.cta-primary {
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
  }

  &.cta-secondary {
    background-color: transparent;
    color: var(--color-secondary-background-blue);
    border: solid 1px var(--color-primary-light-blue);
  }

  &.cta-tertiary {
    background-color: #f8f9fa; // Light Gray
    color: #343a40; // Dark Text
  }
}

main>.section>div.default-content-wrapper {
  max-width: unset;
}

@media (width >=900px) {
  main>.section>div {
    padding: 0;
  }
}

.background-gallery-container {
  display: flex;
  position: absolute;
  height: 100%;
  overflow: hidden;

  .background-gallery-item {
    flex: 1;
    padding: 20px;
    text-align: center;
    gap: 24px;
    display: flex;
    flex-direction: column;

    picture {
      height: 500px;
      min-height: 500px;
      display: flex;

      img {
        object-fit: cover;
      }
    }
  }
}

.text-container {
  overflow: hidden;
}

.dark-background {
  background-color: var(--color-dark);
}

.page-vertical-text {
  position: fixed;
  bottom: 24px;
  left: 50px;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  font-size: 16.8px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  z-index: 999;
}

// Animation
.text-container {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
    }
  }
}