@import url("./imageCarousel.css");
:root {
  /* colors */
  --background-color-dark: #0B1822;
  --text-color-light: #F2F2F2;
  --color-dark: #151517;
}

body {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
}

.d-none {
  display: none !important;
}

a.button.cta-primary {
  background-color: #152F44;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
a.button.cta-secondary {
  background-color: #6c757d;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
a.button.cta-tertiary {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 10px 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
}

main > .section > div.default-content-wrapper {
  max-width: unset;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0;
  }
}
